<h2>
  <%= t('questions.header') -%>
</h2>
<h3>
  <%= link_to t('questions.new'), new_client_survey_question_path(@survey.client, @survey) %>
</h3>
<h4>
  <%= link_to t('questions.back'), client_surveys_path(@survey.client, @survey) %>
</h4>
<hr/>

<table>
  <colgroup>
    <col>
    <col width="250">
  </colgroup>
  <thead>
    <tr>
      <th><%= t('questions.page') -%></th>
      <th><%= t('questions.section') -%></th>
      <th><%= link_to t('questions.position'), { sort: 'position', order: toggle_order('position') } -%></th>
      <th><%= t('questions.type') -%></th>
      <th><%= t('questions.question') -%></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "question", collection: @questions %>
  </tbody>
</table>
