<div class='mx-4 my-4'>
  <div class='my-3 <%= "id-#{answer.question.flat_id}" %>'>
    <%= f.label :answer_text, answer.question.question_text_with_section_if_first %>
    <%= render partial: "answers/errors", locals: {answer: answer} %>
  </div>

  <%= f.fields_for :answer_text do |af| %>
    <%- answer.question.options_shuffle!(answer.question.shuffle_options).each_with_index do |option, index| %>
      <div class="mb-2 my-4">
        <%= f.radio_button :answer_text, option, {id: "#{f.object_name.gsub(/\]\[|[^-a-zA-Z0-9:.]/, "_").sub(/_$/, "")}_answer_text_#{index}", class: 'form-check-input me-1'}  %>
        <%= af.label "answer_text_#{index}", option, class: 'form-check-label d-inline', for: "#{f.object_name.gsub(/\]\[|[^-a-zA-Z0-9:.]/, "_").sub(/_$/, "")}_answer_text_#{index}" %>
      </div>
    <% end %>
  <% end %>
</div>

<script>
  var links<%= answer.question.flat_id %> = document.querySelectorAll('.id-<%= answer.question.flat_id %> a');

  links<%= answer.question.flat_id %>.forEach(function(link) {
    link.setAttribute('target', '_blank');
  });
</script>
