<div class='mx-4'>
  <div class='my-3'>
    <%= f.label :answer_text, answer.question.question_text %>
    <%= render partial: "answers/errors", locals: {answer: answer} %>
  </div>

  <%= f.fields_for :answer_text do |af| %>
    <%- answer.question.options.each_with_index do |option, index| %>
      <div class="mb-2">
        <%= f.radio_button :answer_text, option, {id: "#{f.object_name.gsub(/\]\[|[^-a-zA-Z0-9:.]/, "_").sub(/_$/, "")}_answer_text_#{index}", class: 'form-check-input'}  %>
        <%= af.label "answer_text_#{index}", option, class: 'form-check-label', for: "#{f.object_name.gsub(/\]\[|[^-a-zA-Z0-9:.]/, "_").sub(/_$/, "")}_answer_text_#{index}" %>
      </div>
    <% end %>
  <% end %>
</div>
