

  <div class='row mx-4 my-4'>
    <% if answer.question.question_text_1.present? %>
      <div class='col-3'>
        <%= answer.question.question_text_with_section_if_first %>
        <%= render partial: "answers/errors", locals: {answer: answer} %>
      </div>
      <div class='col-7'>
        <%= answer.question.question_text_1 %>
      </div>
    <% else %>
      <div class='col-10'>
        <%= answer.question.question_text_with_section_if_first %>
        <%= render partial: "answers/errors", locals: {answer: answer} %>
      </div>
    <% end %>
    <div class='col-2'>
      <%= f.select :answer_text, answer.question.options, {include_blank: true}, { class: "form-select id-#{answer.question.section}", data: {previously: ''} }  %>
    </div>
  </div>


<% if answer.question.rules[:uniqueness_on_section].present? && answer.question.last_select_question_on_section? %>
  <script>
    var selects<%= answer.question.section %> = document.querySelectorAll('.id-<%= answer.question.section %>');

    selects<%= answer.question.section %>.forEach(el => {el.addEventListener('change', event => {
      disableOptions<%= answer.question.section %>(el)
    }
    )});

    function disableOptions<%= answer.question.section %>(el){
      var selectedValue = el.value;
      var previouslySelectedValue = el.getAttribute("data-previously");

      if (previouslySelectedValue !== '') {
        selects<%= answer.question.section %>.forEach(function(otherSelect) {
          if (otherSelect !== el) {
            var options = otherSelect.querySelectorAll("option");
            options.forEach(function(option) {
              if (option.value === previouslySelectedValue) {
                option.disabled = false;
              }
            });
          }
        });
      }

      if (selectedValue !== "") {
        selects<%= answer.question.section %>.forEach(function(otherSelect) {
          if (otherSelect !== el) {
            var options = otherSelect.querySelectorAll("option");
            options.forEach(function(option) {
              if (option.value === selectedValue) {
                option.disabled = true;
              }
            });
          }
        })
      }
      el.setAttribute("data-previously", selectedValue)
    }
  </script>
<% end %>
