<h3><%= survey.new_record? ? "New Survey" : "Edit Survey" %></h3>

<%= form_for [survey.client, survey] do |f| %>
  <%- if survey.errors.any? %>
    <ul>
      <%- survey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="form-group">
    <%= f.label :client %>
    <%= f.select(:client_id, Client.all.collect {|p| [ p.name, p.id ] }, { include_blank: true })%>
  </div>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="form-group">
    <%= f.label :introduction %>
    <%= f.rich_text_area :introduction %>
  </div>

  <div class="form-group">
    <%= f.label :conclusion %>
    <%= f.rich_text_area :conclusion %>
  </div>

  <%= f.submit %>
<% end %>
