<div class="progress">
  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: <%=@percent%>%;" aria-valuenow="<%=@percent%>" aria-valuemin="0" aria-valuemax="100"><%=@percent%>%</div>
</div>
<div class="mx-0 mx-sm-auto">
  <%= form_for(@attempt_builder, as: :attempt_builder, url: patch_attempt_flath_path(client: @survey.client, survey: @survey, id: @attempt_builder.attempt.id), method: :patch, class: 'px-4') do |f| %>
    <div class="card">
      <div class="card-body">
        <%= render 'header'%>

        <hr>
        <%= render partial: "inner_form", locals: { f: f } -%>

      </div>
      <div class="card-footer text-end">
        <%= f.submit 'Next', class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
</div>
